.my_datepicker {
    width: 250px;
    margin: 20px;
    background: #eeeeee;
    align-self: flex-end;
    border-radius: 25px;
    margin-top: 19px;
    margin-right: 245px;
}

.react-datepicker__input-container input {
    background: #eeeeee !important;
    outline: none !important;
    border: none !important;
    /* border: 2px solid black !important; */
}

@media (max-width: 768px) {
    .my_datepicker {
        width: 100%;
        margin: 0;
        padding: 15px;
        padding-right: 5vw;
    }
}

/* #cell-1-undefined,
#cell-2-undefined,
#cell-3-undefined,
#cell-4-undefined,
#cell-5-undefined,
#cell-6-undefined,
#cell-7-undefined{
cursor: pointer !important;
} */